<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <targets>
    <target name="logFile"
            xsi:type="File"
            layout="[${time}][${callsite}] ${level:padding=5}| ${message}${onexception:${newline}Type\: ${exception:format=type}${newline}Message\: ${exception:format=message}${newline}StrackTrace\: ${exception:format=StackTrace}"
            fileName="Log\${shortdate}.log"
            keepFileOpen="false"/>
    <target name="logConsole"
            xsi:type="ColoredConsole"
            layout="[${time}][${callsite}] ${level:padding=5}| ${message}"
            useDefaultRowHighlightingRules="true"
            detectConsoleAvailable="true"
            detectOutputRedirected="true"/>
  </targets>

  <rules>
    <logger name="*" writeTo="logConsole" />
    <logger name="*" writeTo="logFile" />
  </rules>
  
</nlog>